@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: 400;
}

h1
h2
h3
h4
h5 {
    margin: 0;
    font-weight: 700;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #7E7E7E;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
